body {
  background-color: black;
  color: white;
}

.game {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90vmin;
  height: 90vmin;
  margin: auto;
}

.board {
  display: table;
  border-collapse: collapse;
}

.row {
  display: table-row;
  overflow: hidden;
  height: 10vmin;
}

.cell {
  width: 10vmin;
  height: 10vmin;
  position: relative;
  border: 5px solid white;
  display: table-cell;
  box-sizing: border-box;
  cursor: pointer;
}

.cell:hover {
  background-color: rgb(34, 34, 34);
}

.x {
  background-image: url('../img/x.png');
}

.o {
  background-image: url('../img/o.png');

}

.o, .x {
  background-repeat: no-repeat;
  background-size: cover;
}